<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.MemberMapper">
<!-- 회원가입 -->
<insert id="insertmember">
    INSERT INTO member_info
        (mi_id,mi_name,mi_email,mi_address,mi_address_detail,mi_birth,mi_pwd,mi_gen,mi_phone)
    VALUES
        (#{mi_id},#{mi_name},#{mi_email},#{mi_address},#{mi_address_detail},#{mi_birth},#{mi_pwd},#{mi_gen},#{mi_phone});
</insert>
<select id="selectMemberById" resultType="java.lang.Integer">
    select count(*) from member_info where mi_id=#{id}
</select>
<select id="selectMemberByEmail" resultType="java.lang.Integer">
    select count(*) from member_info where mi_email=#{email}
</select>
<!-- 로그인 -->
<select id="memberLogin" resultType="java.lang.Integer">
    select count(*) from member_info where mi_id=#{id} and mi_pwd = #{pwd}
</select>
<select id="selectMemberInfo" resultType="com.shopping.vo.MemberInfoVO">
    select * from member_info where mi_id = #{id}
</select>
</mapper>