<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.ProductMapper">
<insert id="insertProduct">
INSERT INTO product_info
        (pi_name, pi_cate_seq, pi_stock, pi_si_seq, pi_discount_rate, pi_caution, 
        pi_weight, pi_point_rate, pi_di_seq, pi_price, pi_img_uri)
VALUES(#{pi_name}, #{pi_cate_seq}, #{pi_stock}, #{pi_si_seq}, #{pi_discount_rate}, #{pi_caution}, 
        #{pi_weight}, #{pi_point_rate}, #{pi_di_seq}, #{pi_price}, #{pi_img_uri});
</insert>
<select id="selectAllList" resultType="com.shopping.vo.ProductVO">
        select * from product_info where pi_name like #{keyword}
        <if test = "category != null">
        and pi_cate_seq=#{category}
        </if>
        limit 15 offset #{offset}
</select>
<delete id="deleteProduct">
        delete from product_info where pi_seq=#{seq}
</delete>
<!-- 이미지 전송 -->
<insert id="insertProductImages">
INSERT INTO prod_image
        (pimg_file_name, pimg_uri, pimg_size)
VALUES
        (#{pimg_file_name}, #{pimg_uri}, #{pimg_size});
</insert>
<select id="selectProdImagePath" resultType="java.lang.String">
        select pimg_file_name from prod_image where pimg_uri = #{uri} order by pimg_seq desc limit 1
</select>
<!-- 추천상품 리스트 가져오기 -->
<select id="selectRecommand" resultType="com.shopping.vo.ProductVO">
        select * from product_info a inner join recommand b on a.pi_seq = b.reco_pi_seq;
</select>
<!-- 추천되지않는 상품 리스트 가져오기 -->
<select id="selectNotRecommand" resultType="com.shopping.vo.ProductVO">
        select a.* from product_info a left outer join recommand b on a.pi_seq = b.reco_pi_seq where b.reco_pi_seq is null;
</select>
<insert id="insertRecommand">
        INSERT INTO recommand (reco_pi_seq) VALUES(#{prod_seq});
</insert>
<delete id="deleteRecommand">
        DELETE FROM recommand WHERE reco_pi_seq=#{prod_seq};
</delete>
</mapper>