.title{
    font-size: 50px; color: rgb(143, 142, 142);
    padding:10px; border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.del_table td { 
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 5px;
}
.del_table input{
    width: 250px; height: 10px; padding: 10px;
    outline: none; border: 1px solid #ddd; border-radius: 5px;
    background-color: #f7f7f7;
    margin-left: 10px; margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.delivery_list table td {
    border-bottom: 1px solid #ccc; padding: 10px;
    vertical-align: middle; text-align: center;
}
.delivery_thead td{
    background-color: #5f0080; color: #fff;
}

#add , #dup_check_name{
    width:80px;
    height: 30px;
    color: #5f0080;
    background-color: #fff;
    border: 1px solid #5f0080;
    border-radius: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.delete {
    width:60px;
    height: 30px;
    color: #f7f7f7;
    background-color: rgb(185, 185, 185);
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;

}.product_form input {
    width: 200px; font-family: "Noto Sans KR", sans-serif;
    outline: none; padding:7px 10px; margin-bottom: 10px; 
    border: 1px solid #aaa; border-radius: 3px;
}
.product_form select {
    width: 223px; font-family: "Noto Sans KR", sans-serif;
    outline: none; padding:7px 10px; margin-bottom: 10px;
    border: 1px solid #aaa; border-radius: 3px;
}
.product_form textarea{
    width: 202px; font-family: "Noto Sans KR", sans-serif;
    outline: none; padding:7px 10px; margin-bottom: 10px;
    border: 1px solid #aaa; border-radius: 3px;
    resize: none;
}