.title{
    color: rgb(143, 142, 142);
    padding:10px; border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    font-size: 50px;
}
.member_list td{
    border-bottom: 1px solid #ccc; padding: 10px;
    vertical-align: middle; text-align: center;
}

thead td {background-color: #5f0080; color: #fff;}

.member_list tr:nth-child(even) {
    background-color: #fbfbfb;
}

.member_delete{
    width:60px;
    height: 30px;
    color: #f7f7f7;
    background-color: rgb(185, 185, 185);
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}