.title{
    color: rgb(143, 142, 142);
    padding:10px; border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    font-size: 50px;
}
.sel_table td { 
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 5px;
}
.sel_table input{
    width: 250px; height: 10px; padding: 10px;
    outline: none; border: 1px solid #ddd; border-radius: 5px;
    background-color: #f7f7f7;
    margin-left: 10px; margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.seller_thead td{
    background-color: #5f0080; color: #fff;
}
#dup_check, #dup_check_Email, #regist {
    width:80px;
    height: 30px;
    color: #5f0080;
    background-color: #fff;
    border: 1px solid #5f0080;
    border-radius: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.delete{
    width:60px;
    height: 30px;
    color: #f7f7f7;
    background-color: rgb(185, 185, 185);
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.seller_list table td {
    border-bottom: 1px solid #ccc; padding: 10px;
    vertical-align: middle; text-align: center;
}

.seller_table tr:nth-child(even) {
    background-color: #fbfbfb;
}